/* 'Style of landing page and quiz page */
.brand, .quiz-brand {
    font-family: 'Montserrat', sans-serif;
    color:rgb(21, 9, 92);
    font-size: 25px;
    margin-right: 1000px;
}

/* Style of ampersand */
.ampersand {
    margin-right: 10px;
}

/* Style of countdown timer */
h3 {
    text-align: center;
    color: blue;
    background-color: lightslategray;    
    padding: 10px;
    }

/* Style of jumbotron */
.jumbotron {
    margin-top: 40px;
    padding: 30px;
}

/* Style of quiz box background */
.grid {
    width: 600px;
    height: 535px;
    margin: 0 auto;
    background-color: lightgrey;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: black;
}

/* Style of buttons */
.buttons {
    margin-top: 30px;
}

/* More style of buttons */
#button0, #button1, #button2, #button3 {
    background-color: lightslategray;
    height: 50px;
    width: 525px;
    font-size: 15px;
    color: white;
    border: black;
    border-radius: 50px;
    margin: 10px 100px 10px 0px;
    padding: 10px, 10px;
}

/* Style of questions */
.grid #question {
    font-size: 20px;
    color: black;
    margin-left: 15px;
    margin-top: 25px;
}

/* Style of examples */
.grid aside {
    color: red;
    margin-left: 15px;
}

/* Style of q1uiz name */
#title {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

 /* Style of footer showing progress of quiz */
   #progress {
       margin-top: 20px;
       color: navy;
       font-size: 13px;
   }

/* Style of page footer */
.quiz-footer {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-left: 650px;
    padding: 10px;
}