/* 'Style of page' */
.brand {
    font-family: 'Montserrat', sans-serif;
    color:rgb(21, 9, 92);
    font-size: 25px;
    margin-right: 700px;
}

/* Style of ampersand */
.ampersand {
    margin-right: 10px;
}

/* Style of footer */
.navbar-brand {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-left: 650px;
}