/* 'Style of landing page and quiz page */
.brand {
    font-family: 'Montserrat', sans-serif;
    color:rgb(21, 9, 92);
    font-size: 25px;
    margin-right: 1000px;
}

/* Style of ampersand */
.ampersand {
    margin-right: 10px;
}

/* Style of countdown timer */
h3, .wall_of_fame {
    text-align: center;
    color: blue;
    background-color: lightslategray;    
    padding: 10px;
    }

/* Style of jumbotron */
.jumbotron {
    margin-top: 40px;
    padding: 30px;
}

.lead {
    padding: 20px 10px 10px 0px;
}

/* Style of quiz box background */
.grid {
    width: 600px;
    height: 535px;
    margin: 0 auto;
    background-color: lightgrey;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: black;
}

/* Style of buttons */
.buttons {
    margin-top: 30px;
}

/* More style of buttons */
#button0, #button1, #button2, #button3 {
    background-color: navy;
    height: 50px;
    width: 525px;
    font-size: 15px;
    color: white;
    border: white;
    border-radius: 50px;
    margin: 10px 100px 10px 0px;
    padding: 10px, 10px;
}

/* Style of questions */
.grid #question {
    font-size: 20px;
    color: black;
    margin-left: 15px;
    margin-top: 25px;
}

/* Style of quiz name */
#title {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

 /* Style of footer showing progress of quiz */
   #progress {
       margin-top: 20px;
       color: navy;
       font-size: 13px;
   }

/* Style of page footer */
.quiz-footer {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-left: 650px;
    padding: 10px;
}

/* Text at top of page */
.scores {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 125px;
}

.enterPlayer {
    font-size: 40px;
    color: navy;
}

/* Start over button */
.startOver {
    margin-left: 1250px;
    background-color: slategray;
    color: white;
    font-size: 20px;
    padding: 20px;
}

/* body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}       

.countdownBox {
  color: black;
  background-color: white;
  padding: 20px;
} */

/* .hoverBox {
  background: yellowgreen;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  outline: 1px solid #dddddd;
  overflow: auto;
  width: 75%;
} */

/* .startHidden {
  display: none;
} */

/* a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
} */